/* reset */
*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    box-sizing: border-box;
    border: none;
    outline: none;
}
img{
    max-width: 100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
h2{
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0 0 10px 0;
}
h1{
    Text-align:center;
    font-size: 3em;
    text-shadow: 3px 3px 50px #0051ff;
    color: rgb(255, 255, 255);
    margin: 30px 0;
    font-style:italic;
    font-variant: small-caps;
    font-weight:bold;
}
p{
    font-size: 1em;
    color: rgb(0, 0, 0);
    text-indent: 50px;
    margin-top: 30px;
}
/* cabeçalho */
.cabeçalho{
    width: 100%;
    float: left;
    padding: 50px 8%;
    background-color: #008B8B;
}
.logo a{
width: 84px;
height: 97px;
float: left;
background-image: url(../imagens/spmapa.png);
font-size: 0;
border-radius: 10px 10px;
}
.cabeçalho form{
    width: 30%;
    float: right;
}
.cabeçalho input[type="text"]{
    width: 85%;
    float: left;
    padding: 15px 10px;
    border-radius: 10px 0 0 10px;
}
.cabeçalho button{
    width: 15%;
    float: right;
    padding: 14px 10px;
    border-radius: 0 10px 10px 0;
    background-image: linear-gradient(to bottom, #2F4F4F, rgb(24, 25, 26));
    color: #fff;
    cursor: pointer;
}
/*menu*/
.menu{
    width: 100%;
    float: left;
    background-color: #111;
    padding: 18px 8%;
}
.menu li{
    float: left;
}
.menu li a{
    color: #9d9d9d;
    margin-right: 25px;
}
.menu li a:hover{
    color: #fff;
    font-size: 1.1em;
    
}
/*menu*/
.menu{
    width: 100%;
    float: left;
    background-color: #2F4F4F;
    padding: 18px 8%;
}
.menu li{
    float: left;
}
.menu li a{
    color: #9d9d9d;
    margin-right: 25px;
}
.menu li a:hover{
    color: #fff;
    font-size: 1.1em;
    
}
/*Social Icons*/
.social-icons{
    float: right;
}
.social-icons a{
    color: #fff;
    float: left;
    margin-left: 20px;
}
.social-icons .fa-facebook:hover{
    color: #3b5988
}
.social-icons .fa-twitter:hover{
    color: #1DA1F2
}
.social-icons .fa-instagram:hover{
    color: #8a3ab9 
}
.social-icons .fa-envelope:hover{
    color: #ff7b00 
}
.social-icons .fa-google:hover{
    color: #DB4437
}
.social-icons .fa-youtube:hover{
    color: #FF0000
}
.social-icons .fa-linkedin:hover{
    color: #0077b5
}
/*texto*/
.texto h2{
    color:#94a5a5;
    padding: 0px 10px;
    border-radius: 10px;
}
.texto img{
    width: 40%;
    border-radius: 15px;
    margin: 0 15px 5px 0;
    padding: 15px;
}
.texto p{
    padding: 10px 0 0 10px;
    text-align: justify;
    font-size: 1.2em;
}
.texto buttom{
    width: 15%;
    float: right;
    padding: 14px 10px;
    border-radius: 0 10px 10px 0;
    background-image: linear-gradient(to bottom, #94a5a5, rgb(24, 25, 26));
    color: #fff;
    cursor: pointer;
}
body{
    background-color: #fff;
}
/*newsletter*/
.newsletter{
    width: 100%;
    float: left;
    background-color: #008B8B;
    padding: 50px 8%;
}
.newsletter h3{
    margin: 0 4.5%;
    font-size: 3em;
    color: #fff;
}
.newsletter p{
    float:center;
    font-size: 1.2em;
    color: #00e0e0;
}
/*rodape*/
.rodape{
    width: 100%;
    float: left;
    background-color: #2F4F4F;
    padding: 25px 8%;
}
.rodape p{
    color: #fff;
}
.sumario:link{
    color: rgb(0, 17, 252);
    background-color: rgba(251, 255, 0, 0.514);
    text-decoration:none;
}#link01:visited{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 255, 255, 0.514);
    text-decoration: none;
}
#link01:hover{
    color: rgb(18, 247, 48);
    background-color: rgba(234, 238, 13, 0.493);
    text-decoration: none;
}
#link01:active{
    color: rgb(34, 208, 214);
    background-color: rgba(0, 255, 13, 0.466);
    text-decoration: none;  
}
    
.format{
    border-radius:15px;
    border:2px solid #2F4F4F;  
}
span{background-color: brown;}
.format{
    background-color: #111;
    color:rgb(255, 255, 255);
    font-size: 23px;
    text-align: center;
}
#link01:link{
    color: yellow;
    background-color: green;
    text-decoration:none;
}#link01:visited{
    color: white;
    background-color: teal;
    text-decoration: none;
}
#link01:hover{
    color: rgb(18, 247, 48);
    background-color: rgb(234, 238, 13);
    text-decoration: none;
}
#link01:active{
    color: rgb(34, 208, 214);
    background-color: rgb(238, 13, 13);
    text-decoration: none;  
}
@media screen and (min-width: 360px){
    img{
        max-width: 350px;
        display: block;
        margin-right: 0px;
        margin-left: 55px;

    }
    pre{
        font-size: 1.5em;
        text-align: left;
        padding-left: 0;
        margin: auto;
        }
}
@media screen and (max-width: 720px){
    .cabeçalho form{
        width: 80%;
        float: right;
        margin: 10px 10%;
    }
    .cabeçalho input[type="text"]{
        width: 85%;
        float: left;
        padding: 15px 10px;
        border-radius: 10px 0 0 10px;
    }
    .cabeçalho button{
        width: 15%;
        float: right;
        padding: 14px 10px;
        border-radius: 0 10px 10px 0;
        background-image: linear-gradient (to bottom, #2F4F4F, rgb(24, 25, 26));
        color: #fff;
        cursor: pointer;
    }
    .social-icons{
        float: right;
    }
    .social-icons a{
        color: #fff;
        float: left;
        margin-left: 10px;
    }
    .menu{
        width: 100%;
        float: left;
        background-color: #2F4F4F;
        padding: 20px 8%;
    }
    .menu li{
        float: left;
        font-size: 0.7em;
        padding: 20px 0;
    }
    .menu li a{
        
        color: #9d9d9d;
        margin-right: 25px;
    }
}
